doctype html
html
  head
    title= 'experiment 2'
    link(rel='stylesheet', href='/stylesheets/jssorSlider.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='/scripts/jssor.slider-27.2.0.min.js', type='text/javascript')
    script.
      let data = !{JSON.stringify(data)}
      var jssor_1_slider_init = function() {
        var jssor_1_options = {
          $AutoPlay: 0,
          $SlideWidth: 370,
          $ArrowNavigatorOptions: {
            $Class: $JssorArrowNavigator$
          },
          $BulletNavigatorOptions: {
            $Class: $JssorBulletNavigator$
          }
        }
        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options)
        /*#region responsive code begin*/
        var MAX_WIDTH = 980
        function ScaleSlider() {
          var containerElement = jssor_1_slider.$Elmt.parentNode
          var containerWidth = containerElement.clientWidth
          if (containerWidth) {
            var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth)
            jssor_1_slider.$ScaleWidth(expectedWidth)
          } else {
            window.setTimeout(ScaleSlider, 30)
          }
        }
        ScaleSlider()
        $Jssor$.$AddEvent(window, "load", ScaleSlider)
        $Jssor$.$AddEvent(window, "resize", ScaleSlider)
        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider)
            /*#endregion responsive code end*/
      }
    div(id='jssor_1')
      //- Loading Screen
      div(data-u='loading' class='jssorl-009-spin')
        img(src='/images/spin.svg')
      div(data-u='slides' class='slides')
        each item in data
          - var foodName = item.foodname
          - var taste = item.taste
          - var health = item.health
          - var imgPath = item.path
          div(data-p='138')
            form(id='pickingTask'+item.id action='/experiment2/'+ trial + '/' + userId, method='post')
              input(type='hidden', name='trial', value=trial)
              input(type='hidden', name='userId', value=userId)
              input(type='hidden', name='startingTime', value=startingTime)
              div.card.selectable(id= 'food'+item.id, name='card', data-u='image', ondblclick="submitForm('pickingTask"+ item.id + "','food"+item.id+"')")
                h3 #{foodName}
                if foodName.length < 27
                  br
                div(style='visibility: hidden; font-size: 0pt')
                  p(name='foodId') #{item.id}
                img(src= imgPath alt= foodName)
                table.scores
                  tr
                    th.taste Taste
                    th.health Health
                  tr
                    td.taste(name='taste') #{taste}
                    td.health(name='health') #{health}
      div(data-u='navigator' class='jssorb051' style='position:absolute;bottom:12px;right:12px;' data-autocenter='1' data-scale='0.5' data-scale-bottom='0.75')
        div(data-u='prototype' class='i' style='width:16px;height:16px;')
          svg(viewbox='0 0 16000 16000' style='position:absolute;top:0;left:0;width:100%;height:100%;')
            circle(class='b' cx='8000' cy='8000' r='5800')
      div(data-u='arrowleft' class='jssora051' style='width:65px;height:65px;top:0px;left:35px;' data-autocenter='2' data-scale='0.75' data-scale-left='0.75')
        svg(viewbox='0 0 16000 16000' style='position:absolute;top:0;left:0;width:100%;height:100%;')
          polyline(class='a' points='11040,1920 4960,8000 11040,14080 ')
      div(data-u='arrowright' class='jssora051' style='width:65px;height:65px;top:0px;right:35px;' data-autocenter='2' data-scale='0.75' data-scale-right='0.75')
        svg(viewbox='0 0 16000 16000' style='position:absolute;top:0;left:0;width:100%;height:100%;')
          polyline(class='a' points='4960,1920 11040,8000 4960,14080 ')
    script.
      jssor_1_slider_init()
      function submitSelected(formId, cardId) {
        var form = document.getElementById(formId)
        if (!form) { return }
        var div = form.getElementsByTagName('div')
        var texta = document.createElement('TEXTAREA')
        texta.name = 'picked'
        texta.style.display = 'none'
        texta.value = JSON.stringify({
          itemName: div[0].getElementsByTagName('h3')[0].innerHTML,
          foodId: div[0].getElementsByTagName('p')[0].innerHTML,
          taste: div[0].getElementsByTagName('td')[0].innerHTML,
          health: div[0].getElementsByTagName('td')[1].innerHTML
        })
        form.appendChild(texta)
      }
      window.submitForm = function(formId, cardId) {
        submitSelected(formId, cardId)
        var form = document.getElementById(formId)
        var button = document.createElement('input');
        button.style.display = 'none';
        button.type = 'submit';
        form.appendChild(button).click();
      };



