doctype html
html
  head
    title= 'experiment 1'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='/scripts/dragula.min.js', type='text/javascript')
    script.
      let data = !{JSON.stringify(data)}
      var getItem = function(c){return document.querySelector(c)}
      dragula([getItem('sourcePanel'), getItem('destinationPanel')])
    - var count = 0
    form(name='sortingResult', action='/experiment1/'+ trial, method='post')
      div#destinationPanel
        input(type='hidden', name='trial', value=trial)
        input(type='hidden', name='startingTime', value=startingTime)
      button(type='submit', value='submit') I'm done!

    div#sourcePanel
      table
        each item in data
          if count % 5 === 0
            tr
          - var foodName = item.foodname
          - var taste = item['T\'c']
          - var health = item['RRR\'']
          - var imgPath = item.path
          td
            div.card(id= foodName)
              h3 #{foodName}
              img(src= imgPath alt= foodName)
              table.scores
                tr
                  th.taste Taste
                  th.health Health
                tr
                  td.taste #{taste}
                  td.health #{health}
          - count++
    
    