doctype html
html
  head
    title= 'experiment 1 - presurvey'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/surveys.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body.foodSurvey(data-spy='scroll' data-target='#myScrollspy' data-offset='15')
    //- script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js', charset='utf-8')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', charset='utf-8')
    script(src='/scripts/questionSets.js', type='text/javascript')
    script.
      let data = !{JSON.stringify(data)}
      let items = !{JSON.stringify(items)}
    - console.log(data)
    h1 Understanding Food Items
    div(class='container')
      div(class='row')
        nav(class='col-sm-2' id='myScrollspy')
          ul(class='nav nav-pills nav-stacked' data-spy='affix' data-offset-top='205')
            - var i = 0
            while i < items.length
              li.navbar
                a(href='#sectionA' + items[i].id)
                  div.littleCard
                    if (items[i].foodname.length < 21)
                      br
                    label #{items[i].foodname}
                    img(src= items[i].path alt= items[i].foodname)
                    table.scoresLittle
                      tr
                        th.taste Taste
                        th.health Health
                      tr
                        td.taste #{items[i].taste}
                        td.health #{items[i].health}
              - i++
        div(class='col-sm-10')
          form(id='form', name='foodForm', class='foodForm', action='/survey1/' + env + '/' + trial + '/' + userId, method='post', onsubmit='return validateScore()')
            input(type='hidden', name='trial', value=trial)
            input(type='hidden', name='env', value=env)
            input(type='hidden', name='userId', value=userId)
            input(type='hidden', name='startingTime', value=startingTime)
            - var i = 0
            while i < items.length
              div(id='sectionA'+ items[i].id)
                br
                div(class='row')
                  div(class='col-sm-3') 
                    div.mediumCard
                      if (items[i].foodname.length < 21)
                        br
                      label #{items[i].foodname}
                      img(src= items[i].path alt= items[i].foodname)
                      table.scoresMedium
                        tr
                          th.taste Taste
                          th.health Health
                        tr
                          td.taste #{items[i].taste}
                          td.health #{items[i].health}
                  div(class='col-sm-9')
                    table(class='table table-striped likertTable')
                      col(width='35%')
                      tr
                        th
                        th Strongly disagree
                        th Disagree
                        th Neither agree nor disagree
                        th Agree
                        th Strongly agree
                      - let firstSet = data.slice(1)
                      - firstSet = firstSet.filter(d => d.qn_set == 1)
                      - let itemOrder = Number(i) + 1
                      each qn in firstSet
                        tr
                          td #{qn.description}
                          each val in [1, 2, 3, 4, 5]
                            td
                              label
                                input(name=itemOrder + '-' + items[i].id + '-' + qn.qn_id, type='radio', value= val)
                    - var secondSet = data.filter(d => d.qn_set == 2)
                    label #{secondSet[0].description}
                    br
                    div(class='filling row')
                      div(class='form-group col-sm-6')
                        label #{secondSet[1].description}
                          input(type='text', class='form-control', name= 'taste-' + items[i].id, value= items[i].taste)
                      div(class='form-group col-sm-6')
                        label #{secondSet[2].description}
                          input(type='text', class='form-control', name= 'health-' + items[i].id, value= items[i].health)
                    div(class='endQn')
                      label #{secondSet[3].description}
                      br
                      textarea(class='form-control', name= itemOrder + '-' + items[i].id + '-' + secondSet[3].qn_id, rows='4', style='width: 80%;')
                  br
              - i++
            br
            button(class='btn btn-primary btn-lg', type='submit', style='float: right') Next
    script.
      function validateFormSurvey8() {
        let form = document.getElementById('form')
        let ans = form.getElementsByTagName('input')
        //- let comment = form.getElementsByTagName('textarea')
        let names = $('input').map(function(){ return $(this).attr('name') })
        let distinctNames = $.unique(names)
        distinctNames = distinctNames.filter(function(o) { return (distinctNames[o] !== 'userId' && distinctNames[o] !== 'trial' && distinctNames[o].slice(0, 5) !== 'taste' && distinctNames[o].slice(0, 6) !== 'health' && distinctNames[o] !== 'startingTime' && distinctNames[o] !== 'env')})
        for (let qn of distinctNames) {
          let radioSet = document.getElementsByName(qn)
          let selected = false
          for (let radio of radioSet) {
            if (radio.checked === true) { selected = true }
          }
          if (selected === false) {
            console.log(qn)
            alert('Please answer all questions.')
            return false
          }
        }
        //- if (comment[0].value === '') {
        //-   alert('Please justify your changes.')
        //-   return false
        //- }
        return true
      }
      function validateScore () {
        let x = Array.from(document.querySelectorAll("[name^='taste-']"))
        let y = Array.from(document.querySelectorAll("[name^='health-']"))
        if (x.some(empty) || y.some(empty)) {
          alert('The score must be filled out.')
          return false
        } else if (x.some(upperLimit) || y.some(upperLimit) || x.some(lowerLimit) || y.some(lowerLimit)) {
          alert('The score must range from 1 to 10.')
          return false
        } else if (x.some(checkInteger) || y.some(checkInteger)) {
          alert('The score must be integer.')
          return false
        }
        return validateFormSurvey8()
      }
      function empty (o) {
        return o.value === '' 
      }
      function upperLimit (o) {
        return o.value > 10
      }
      function lowerLimit (o) {
        return o.value < 1
      }
      function checkInteger (o) {
        return !Number.isInteger(Number(o.value))
      }
      $('.table td').click(function(event) {
        if (event.target.type !== 'radio') {
          $(':radio', this).trigger('click')
        }
      })