doctype html
html
  head
    title= 'experiment 2 - postsurvey'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/surveys.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    script(src='/scripts/questionSets.js', type='text/javascript')
    script.
      let defaultPoint = !{JSON.stringify(defaultPoint)}
      let left = !{JSON.stringify(left)}
      let right = !{JSON.stringify(right)}
      let userChoice = !{JSON.stringify(userChoice)}
    - var items = Array.from(new Set([defaultPoint, left, right, userChoice]))
    div(class='container-fluid')
      h1 Satisfaction of the Choice
      form(id='form', name='foodForm', class='foodForm', action='/survey6/' + trial + '/' + userId, method='post', onsubmit='return validateFormSurvey6()')
        input(type='hidden', name='trial', value=trial)
        input(type='hidden', name='userId', value=userId)
        input(type='hidden', name='startingTime', value=startingTime)
        each i in items
          div(class='row')
            div(class='col-sm-2')
              div.smallCard
                label #{i.foodname}
                img(src= i.path alt= i.foodname)
                table.scoresSmall
                  tr
                    th.taste Taste
                    th.health Health
                  tr
                    td.taste #{i.taste}
                    td.health #{i.health}
            div(class='col-sm-10')
              table(class='table table-striped likertTable')
                col(width='30%')
                tr
                  th
                  th Strongly disagree
                  th Disagree
                  th Neither agree nor disagree
                  th Agree
                  th Strongly agree
                - var desc = ['I am satisfied with this item.', 'I am confident that this is the best.']
                - var qn = ['satisfaction', 'confidence']
                each k in [0, 1]
                  tr
                    td #{desc[k]}
                    each val in [1, 2, 3, 4, 5]
                      td
                        div(class='radio')
                          label
                            input(name=i.id + '-' + qn[k] + '-' + i.state, type='radio', value= val)
          hr
        br
        button(class='btn btn-primary btn-lg', type='submit', style='float: right') Next
    script.
      $('.table td').click(function(event) {
        if (event.target.type !== 'radio') {
          $(':radio', this).trigger('click')
        }
      })