doctype html
html
  head
    title= 'experiment 2 - presurvey'
    link(rel='stylesheet', href='/stylesheets/surveys.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body(class='demographics')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    script(src='https://surveyjs.azureedge.net/1.0.32/survey.jquery.min.js', charset='utf-8')
    script.
      let country = !{JSON.stringify(country)}
      let userId = !{JSON.stringify(userId)}
      let ethnicity = !{JSON.stringify(ethnicity)}
    - var setDesc = 'Demographics'
    div(class='container-fluid')
      h1 #{setDesc}
      div(id='surveyContainer')
      div(id='nextExp', style='visibility: hidden; padding: 15px;')
        div
          label If you are an MTurk worker, this is the survey code:
          p #{surveyCode}
          p If you are willing to do the next experiment, you will have another new code after you finish that.
        if (userId % 2 == 0)
          
          a(class='nextExpButton', href= '/survey1/'+ exp2Trial + '/' + userId)
            //- button(class='indexButton') Go to next experiment
            button(class='btn btn-primary btn-lg', type='button') Go to next experiment
        else
          a(class='nextExpButton', href= '/experiment1/pre/1/' + userId)
            //- button(class='indexButton') Go to next experiment
            button(class='btn btn-primary btn-lg', type='button') Go to next experiment
    script.
      Survey.Survey.cssType = 'bootstrap'
      var surveyJSON = {pages:[{name:'page1',elements:[{type:'radiogroup',name:'question1',title:'Gender',isRequired:true,choices:[{value:'item1',text:'Male',undefined:''},{value:'item2',text:'Female'}]},{type:'text',name:'Age',title:'Age',isRequired:true,inputType:'number'},{type:'text',name:'Occupation',title:'Occupation',isRequired:true},{type:'dropdown',name:'Country of Residence',title:'Country of Residence',isRequired:true,choices: country},{type:'dropdown',name:'Ethnicity',title:'Ethnicity',isRequired:true,choices: ethnicity},{type:'text',name:'MTurk',title:'Mechanical Turk Worker ID'},{type:'text',name:'contactNum',title:'Contact Number',inputType:'tel'},{type:'text',name:'email',title:'Email Address (Please fill in your email address if you access here from IVLE)',inputType:'email'},{type:'text',name:'userId',visible:false,title:'UserId', defaultValue: userId}]}],clearInvisibleValues:'none', completedHtml: "<label>Thank you for completing the survey!</label><br><label>You can either leave the experiment or attend another condition group.</label>"}
      function sendDataToServer(survey) {
        survey.sendResult('13344d69-7e69-464b-9c38-59680450dadb')
        document.getElementById('nextExp').style.visibility = 'visible'
      }
      var survey = new Survey.Model(surveyJSON)
      $('#surveyContainer').Survey({
        model: survey,
        onComplete: sendDataToServer
      })