doctype html
html
  head
    title= 'experiment 1 - presurvey'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='/scripts/questionSets.js', type='text/javascript')
    script.
      let data = !{JSON.stringify(data)}
      let item = !{JSON.stringify(item)}
    - var foodName = item[0].foodname
    - var taste = item[0]['taste']
    - var health = item[0]['health']
    - var imgPath = item[0].path
    - var setDesc = data[0].description // index 0 = display num 0
    div.centerDisplay.card
      h3 #{foodName}
      img(src= imgPath alt= foodName)
      table.scores
        tr
          th.taste Taste
          th.health Health
        tr
          td.taste #{taste}
          td.health #{health}
    h3 #{setDesc}
    script.
      var firstSet = data.filter(d => d.qn_set == 1)
      likertTable(firstSet.slice(1))
    - var secondSet = data.filter(d => d.qn_set == 2)
      console.log(secondSet)
    - var setDesc2 = secondSet[0].description
    h3 #{setDesc2}
    p #{secondSet[1].description}
    input(type='text' value= taste)
    p #{secondSet[2].description}
    input(type='text' value= health)

