doctype html
html
  head
    title= 'experiment 2 - presurvey'
    link(rel='stylesheet', href='/stylesheets/surveys.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body(class='demographics')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    script(src='https://surveyjs.azureedge.net/1.0.32/survey.jquery.min.js', charset='utf-8')
    script.
      let country = !{JSON.stringify(country)}
      let userId = !{JSON.stringify(userId)}
      let ethnicity = !{JSON.stringify(ethnicity)}
    - var setDesc = 'Demographics'
    div(class='container')
      div(class='row')
        div(class='col-sm-8')    
          h1 #{setDesc}
        div(class='col-sm-4' style='background-color: #f5f5f5')
          h4 progress
          div(class='progress')
            div(class='progress-bar progress-bar-success' role='progressbar' style='width: 0%;' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100') 0%
      div(class='row')
        div(class='col-sm-12')
          div(id='surveyContainer')
      div(class='row')
        div(class='col-sm-12')
          div(id='nextExp', style='visibility: hidden; padding: 15px;')
            //- div
            //-   label If you are an MTurk worker, this is the survey code:
            //-   label #{surveyCode}
            //-   label If you are willing to do the next experiment, you will have another new code after you finish that.
            a(class='nextExpButton', href= '/survey0/' + env + '/' + userId)
                button(class='btn btn-primary btn-lg', type='button') Next
            //- if (userId % 8 == 0)
          
            //-   a(class='nextExpButton', href= '/survey1/'+ exp2Trial + '/' + userId)
            //-     //- button(class='indexButton') Go to next experiment
            //-     button(class='btn btn-primary btn-lg', type='button') Go to next experiment
            //- else
            //-   a(class='nextExpButton', href= '/experiment1/pre/1/' + userId)
            //-     //- button(class='indexButton') Go to next experiment
            //-     button(class='btn btn-primary btn-lg', type='button') Go to next experiment
    script.
      Survey.Survey.cssType = 'bootstrap'
      var surveyJSON = {pages:[{name:"page1",elements:[{type:"radiogroup",name:"gender",title:"Gender",isRequired:true,choices:[{value:"item1",text:"Male"},{value:"item2",text:"Female"}]},{type:"text",name:"age",title:"Age",isRequired:true,inputType:"number"},{type:"text",name:"occupation",title:"Occupation",isRequired:true},{type:"dropdown",name:"Country of Residence",title:"Country of Residence",isRequired:true,choices:country},{type:"dropdown",name:"Ethnicity",title:"Ethnicity",isRequired:true,choices:ethnicity},{type:"text",name:"MTurk",title:"MTurk Worker ID"},{type:"text",name:"userId",visible:false,title:"UserId", defaultValue: userId}]}],clearInvisibleValues:'none', completedHtml: "<label>Thank you for completing this form.</label><br><label>Press the button below and go to the next stage.</label>"}
      //- Old CompletedHtml
      //- completedHtml: "<label>Thank you for completing the survey!</label><br><label>You can either leave the experiment or attend another condition group.</label>"
      function sendDataToServer(survey) {
        survey.sendResult('3d73a8cc-56c6-42e7-ac2a-2a51560fd114')
        document.getElementById('nextExp').style.visibility = 'visible'
      }
      var survey = new Survey.Model(surveyJSON)
      $('#surveyContainer').Survey({
        model: survey,
        onComplete: sendDataToServer
      })