doctype html
html
  head
    title= 'experiment 1 - presurvey'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/surveys.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    script.
      let data = !{JSON.stringify(data)}
      let item = !{JSON.stringify(item)}
      let trial = !{JSON.stringify(trial)}
    - var foodName = item[0].foodname
    - var taste = item[0]['taste']
    - var health = item[0]['health']
    - var imgPath = item[0].path
    - var setDesc = data[0].description // index 0 = display num 0
    - var percentage = itemOrder/max * 100
    h1 Understanding Food Items
    div(class='progress')
      div(class='progress-bar' role='progressbar' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100' style='width:' + percentage + '%') Understanding Food Items #{itemOrder} / #{max}
    h3 We will show you multiple cards, each representing a food item. The scores range from 1 to 100.
    div.bigCard
      h3 #{foodName}
      img(src= imgPath alt= foodName)
      table.scores
        tr
          th.taste Taste
          th.health Health
        tr
          td.taste #{taste}
          td.health #{health}
    h3 #{setDesc}
    form(id='form', name='foodForm', class='foodForm', action='/survey1/' + trial + '/' + itemOrder + '/' + userId, method='post', onsubmit='return validateScore()')
      input(type='hidden', name='trial', value=trial)
      input(type='hidden', name='itemOrder', value=itemOrder)
      input(type='hidden', name='itemId', value=item[0].id)
      input(type='hidden', name='userId', value=userId)
      table.itemLikert
        col(width='30%')
        tr
          th
          th Strongly disagree
          th Disagree
          th Neither agree nor disagree
          th Agree
          th Strongly agree
        - var firstSet = data.filter(d => d.qn_set == 1)
        - firstSet = firstSet.slice(1)
        - var count = 0
        each qn in firstSet
          - count++
          tr
          td #{qn.description}
          each val in [1, 2, 3, 4, 5]
            td
              input(name='qn' + qn.qn_id, type='radio', value= val)
      - var secondSet = data.filter(d => d.qn_set == 2)
      - var setDesc2 = secondSet[0].description
      h3 #{setDesc2}
      p #{secondSet[1].description}
      input(type='text', name= 'taste', value= taste)
      p #{secondSet[2].description}
      input(type='text', name='health', value= health)
      p #{secondSet[3].description}
      textarea(name='qn' + secondSet[3].qn_id, rows='4', style='width: 80%;')
      br
      button(class='surSubmit', type='submit', value='submit') Next
    script.
      function validateFormSurvey1() {
        let form = document.getElementById('form')
        let ans = form.getElementsByTagName('input')
        let comment = form.getElementsByTagName('textarea')
        let names = $('input').map(function(){ return $(this).attr('name') })
        let distinctNames = $.unique(names)
        distinctNames = distinctNames.filter(function(o) { return (distinctNames[o] !== 'userId' && distinctNames[o] !== 'trial' && distinctNames[o] !== 'itemOrder' && distinctNames[o] !== 'itemId' && distinctNames[o] !== 'taste' && distinctNames[o] !== 'health')})
        for (let qn of distinctNames) {
          let radioSet = document.getElementsByName(qn)
          let selected = false
          for (let radio of radioSet) {
            if (radio.checked === true) { selected = true }
          }
          if (selected === false) {
            console.log(qn)
            alert('Please answer all questions.')
            return false
          }
        }
        if (comment[0].value === '') {
          alert('Please justify your changes.')
          return false
        }
        return true
      }
      function validateScore () {
        let x = document.forms['foodForm']['taste'].value
        let y = document.forms['foodForm']['health'].value
        if (x == '' || y == '') {
          alert('The score must be filled out.')
          return false
        } else if ( x > 100 || y > 100 || x < 1 || y < 1) {
          alert('The score must range from 1 to 100.')
          return false
        } else if (!Number.isInteger(Number(x)) || !Number.isInteger(Number(y))) {
          console.log(typeof x)
          alert('The score must be integer.')
          return false
        }
        return validateFormSurvey1()
      }
