doctype html
html
  head
    title= 'experiment 2 - presurvey'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/surveys.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    script(src='/scripts/questionSets.js', type='text/javascript')
    script.
      let data = !{JSON.stringify(data)}
      let item = !{JSON.stringify(item)}
    - var foodName = item[0].foodname
    - var taste = item[0]['taste']
    - var health = item[0]['health']
    - var imgPath = item[0].path
    - var setDesc = data[0].description // index 0 = display num 0
    - var percentage = itemOrder/max * 100
    h1 Understanding Food Items
    div(class='progress')
      div(class='progress-bar' role='progressbar' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100' style='width:' + percentage + '%') Understanding Food Items #{itemOrder} / #{max}
    h3 We will show you multiple cards, each representing a food item. The scores range from 1 to 100.
    div.bigCard
      h3 #{foodName}
      img(src= imgPath alt= foodName)
      table.scores
        tr
          th.taste Taste
          th.health Health
        tr
          td.taste #{taste}
          td.health #{health}
    h3 #{setDesc}
    form(id='form', name='foodForm', class='foodForm', action='/survey2/' + trial + '/' + itemOrder + '/' + userId, method='post', onsubmit='return validateFormSurvey2()')
      input(type='hidden', name='trial', value=trial)
      input(type='hidden', name='itemOrder', value=itemOrder)
      input(type='hidden', name='userId', value=userId)
      table.itemLikert
        col(width='30%')
        tr
          th
          th Strongly disagree
          th Disagree
          th Neither agree nor disagree
          th Agree
          th Strongly agree
        - var firstSet = data.filter(d => d.qn_set == 1)
        - firstSet = firstSet.slice(1)
        - var count = 0
        each qn in firstSet
          - count++
          tr
          td #{qn.description}
          each val in [1, 2, 3, 4, 5]
            td
              input(name='qn' + qn.qn_id, type='radio', value= val)
      br
      button(class='surSubmit', type='submit', value='submit') Submit