doctype html
html
  head
    title= 'experiment 1 - postsurvey'
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/surveys.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', charset='utf-8')
    script(src='/scripts/questionSets.js', type='text/javascript')
    script.
      let data = !{JSON.stringify(data)}
    - var setDesc = data[0].description // index 0 = display num 0
    div(class='container')
      div(class='row')
        div(class='col-sm-8')
          h1 Post-Experiment Survey – Experiment 1
        div(class='col-sm-4' style='background-color: #f5f5f5')
          h4 progress
          div(class='progress')
              - var str = Number(30 * trial + 5) + '%'
              div(class='progress-bar progress-bar-success' role='progressbar' style='width:' + Number(30 * trial + 5) + '%;' aria-valuenow= Number(30 * trial + 5) aria-valuemin='0' aria-valuemax='100') #{str}
      div(class='row')
        div(class='col-sm-12')
        label #{setDesc}
        form(id='form', action='/survey4/' + trial + '/' + userId, method='post', onsubmit='return validateExpForm()')
          input(type='hidden', name='trial', value=trial)
          input(type='hidden', name='userId', value=userId)
          input(type='hidden', name='startingTime', value=startingTime)
          table(class='table table-striped likertTable')
            col(width='40%')
            tr
              th
              th Strongly disagree
              th Disagree
              th Neither agree nor disagree
              th Agree
              th Strongly agree
            - var firstSet = data.filter(d => d.qn_set == 6).sort(function (a, b) {return a.qn_id > b.qn_id })
            - firstSet = firstSet.slice(1)
            - var i = 0
            while i < firstSet.length
              tr
                td #{firstSet[i].description}
                if firstSet[i].ans_type == '5_scale'
                  each val in [1, 2, 3, 4, 5]
                    td
                      div(class='radio')
                        label
                          input(name='qn' + firstSet[i].qn_id, type='radio', value= val)
                else
                  td(colspan='5')
                    input(name='qn' + firstSet[i].qn_id, type='text', class='form-control', style='width: 100%')
              - i++
          br
          - var secondSet = data.filter(d => d.qn_set == 7)
          label #{secondSet[0].description}
          - var choice = ['I don’t eat them.', 'I’m not familiar with them.', 'The health scores are too low.', 'The taste scores are too low.', 'Other (please specify)']
          - var val = 0
          while val < choice.length
            div(class='radio')
              label
                input(type='radio', name='qn'+secondSet[0].qn_id, value=choice[val])
                | #{choice[val]}
            - val++
          div(class='form-group')
            textarea(class='form-control' rows='5' id='comment', name='others', style='width: 70%')
          button(class='btn btn-primary btn-lg', type='submit') Next
    script.
      $('.table td').click(function(event) {
        if (event.target.type !== 'radio') {
          $(':radio', this).trigger('click')
        }
      })